<footer>
  <div class="container">
    <div class="flex-between">
      <div class="info">
        <ul class="list">
          <li><a href="#">이용약관</a></li>
          <li><a href="#">개인정보처리방침</a></li>
          <li><a href="#">이메일주소 무단수집거부</a></li>
        </ul>
        <address>서울특별시 강남구 영동대로 511(삼성동)</address>
        <div class="copyright">Copyrightⓒ KITA. All right reserved.</div>
      </div>
      <div class="service">
        <dl class="call">
          <dt>FTA 콜센터</dt>
          <dd>1380</dd>
        </dl>
        <dl class="work">
          <dt class="blind">운영 시간</dt>
          <dd>월~금 09:00 ~ 1800 / 토,일 및 공휴일 휴무</dd>
        </dl>
      </div>
    </div>
    <div class="family-site">
      <div class="family-list">
        <span class="blind">관련지부 이동링크 리스트</span>
        <button type="button">국외지부</button>
        <ul class="scroll-style" tabindex="0">
          <li><a href="http://bs.kita.net/" target="_blank" title="새창 열림">부산지역본부</a></li>
          <li><a href="http://dg.kita.net/" target="_blank" title="새창 열림">대구경북지역본부</a></li>
          <li><a href="http://gj.kita.net/" target="_blank" title="새창 열림">광주전남지역본부</a></li>
          <li><a href="http://dc.kita.net/" target="_blank" title="새창 열림">대전세종충남지역본부</a></li>
          <li><a href="http://ic.kita.net/" target="_blank" title="새창 열림">인천지역본부</a></li>
          <li><a href="http://gw.kita.net/" target="_blank" title="새창 열림">강원지역본부</a></li>
          <li><a href="http://cb.kita.net/" target="_blank" title="새창 열림">충북지역본부</a></li>
          <li><a href="http://jb.kita.net/" target="_blank" title="새창 열림">전북지역본부</a></li>
          <li><a href="http://gn.kita.net/" target="_blank" title="새창 열림">경남지역본부</a></li>
          <li><a href="http://gg.kita.net/" target="_blank" title="새창 열림">경기(남/북부)지역본부</a></li>
          <li><a href="http://us.kita.net/" target="_blank" title="새창 열림">울산지역본부</a></li>
          <li><a href="http://jj.kita.net/" target="_blank" title="새창 열림">제주지부</a></li>
          <li><a href="http://sl.kita.net/" target="_blank" title="새창 열림">서울사무소</a></li>
          <li><a href="http://tk.kita.net/" target="_blank" title="새창 열림">도쿄지부</a></li>
          <li><a href="http://ny.kita.net/" target="_blank" title="새창 열림">뉴욕지부</a></li>
          <li><a href="http://wst.kita.net/" target="_blank" title="새창 열림">워싱턴지부</a></li>
          <li><a href="http://bj.kita.net/" target="_blank" title="새창 열림">베이징지부</a></li>
          <li><a href="http://sh.kita.net/" target="_blank" title="새창 열림">상하이지부</a></li>
          <li><a href="http://eu.kita.net/" target="_blank" title="새창 열림">브뤼셀지부</a></li>
          <li><a href="http://hochiminh.kita.net/" target="_blank" title="새창 열림">호치민지부</a></li>
          <li><a href="http://in.kita.net/" target="_blank" title="새창 열림">뉴델리지부</a></li>
          <li><a href="http://jkt.kita.net/" target="_blank" title="새창 열림">자카르타지부</a></li>
          <li><a href="http://uae.kita.net/" target="_blank" title="새창 열림">UAE지부</a></li>
          <li><a href="http://www.kotra.or.kr/KBC/london" target="_blank" title="새창 열림">런던지부</a></li>
          <li><a href="http://www.kotra.or.kr/KBC/mexico%20city" target="_blank" title="새창 열림">멕시코 시티지부</a></li>
        </ul>
      </div>

      <div class="family-list">
        <span class="blind">관련사이트 링크이동 리스트</span>
        <button type="button">FTA 관련사이트</button>
        <ul class="scroll-style" tabindex="0">
          <li><a href="http://www.motie.go.kr/www/main.do" target="_blank" title="새창 열림">산업통상자원부</a></li>
          <li><a href="http://sandbox.kiat.or.kr" target="_blank" title="새창 열림">산업융합샌드박스</a></li>
          <li><a href="http://www.mosf.go.kr" target="_blank" title="새창 열림">기획재정부</a></li>
          <li><a href="http://www.customs.go.kr/" target="_blank" title="새창 열림">관세청</a></li>
          <li><a href="http://www.mofa.go.kr" target="_blank" title="새창 열림">외교부</a></li>
          <li><a href="http://www.smba.go.kr" target="_blank" title="새창 열림">중소벤처기업부</a></li>
          <li><a href="http://www.ktc.go.kr" target="_blank" title="새창 열림">무역위원회</a></li>
          <li><a href="http://www.exportcenter.go.kr" target="_blank" title="새창 열림">중소기업수출지원센터</a></li>
          <li><a href="http://www.kotra.or.kr" target="_blank" title="새창 열림">KOTRA</a></li>
          <li><a href="http://www.korcham.net" target="_blank" title="새창 열림">대한상공회의소</a></li>
          <li><a href="http://www.ksure.or.kr" target="_blank" title="새창 열림">한국무역보험공사</a></li>
          <li><a href="http://www.koreaexim.go.kr" target="_blank" title="새창 열림">한국수출입은행</a></li>
          <li><a href="http://www.bizinfo.go.kr" target="_blank" title="새창 열림">1357-기업마당</a></li>
          <li><a href="http://www.smefn.or.kr/index.do" target="_blank" title="새창 열림">기업금융나들목</a></li>
          <li><a href="http://www.at.or.kr" target="_blank" title="새창 열림">농수산물유통공사</a></li>
          <li><a href="http://www.kbiz.or.kr" target="_blank" title="새창 열림">중소기업중앙회</a></li>
          <li><a href="http://www.kosti.or.kr" target="_blank" title="새창 열림">전략물자관리원</a></li>
          <li><a href="http://www.kisa.or.kr" target="_blank" title="새창 열림">한국인터넷진흥원</a></li>
          <li><a href="https://www.fez.go.kr" target="_blank" title="새창 열림">경제자유구역기획단</a></li>
          <li><a href="http://www.seda.or.kr" target="_blank" title="새창 열림">소상공인진흥원</a></li>
          <li><a href="http://www.koima.or.kr" target="_blank" title="새창 열림">한국수입업협회</a></li>
          <li><a href="http://www.forca.org" target="_blank" title="새창 열림">한국외국기업협회</a></li>
          <li><a href="http://www.okta.net" target="_blank" title="새창 열림">세계한인무역협회</a></li>
          <li><a href="http://www.amchamkorea.org" target="_blank" title="새창 열림">주한미국상공회의소</a></li>
          <li><a href="http://www.ecck.eu" target="_blank" title="새창 열림">주한유럽상공회의소</a></li>
          <li><a href="https://bcck.or.kr/bcck/" target="_blank" title="새창 열림">주한영국상공회의소</a></li>
          <li><a href="http://seoul.taiwantrade.com.tw" target="_blank" title="새창 열림">TAITRA서울센터</a></li>
          <li><a href="http://www.jetro.go.jp" target="_blank" title="새창 열림">JETRO서울센터</a></li>
          <li><a href="http://www.wto.org" target="_blank" title="새창 열림">세계무역기구</a></li>
          <li><a href="http://www.kjc.or.kr" target="_blank" title="새창 열림">한일산업기술협력재단</a></li>
          <li><a href="http://www.kje.or.kr" target="_blank" title="새창 열림">한일경제협회</a></li>
          <li><a href="https://www.fta.go.kr" target="_blank" title="새창 열림">FTA 강국 코리아</a></li>
          <li><a href="http://iit.kita.net/" target="_blank" title="새창 열림">국제무역연구원</a></li>
        </ul>
      </div>

      <div class="family-list">
        <span class="blind">관련위원회 링크이동 리스트</span>
        <button type="button">분과위원회</button>
        <ul>
          <li><a href="http://tpc.kita.net/" target="_blank" title="새창열림">무역애로해소위원회</a></li>
          <li><a href="http://mstc.kita.net/" target="_blank" title="새창열림">미래무역위원회</a></li>
          <li><a href="http://financesc.kita.net/" target="_blank" title="새창열림">전략운영위원회</a></li>
          <li><a href="http://itradec.kita.net/" target="_blank" title="새창열림">통상진흥위원회</a></li>
          <li><a href="http://slc.kita.net/" target="_blank" title="새창열림">물류혁신위원회</a></li>
          <li><a href="http://servicec.kita.net/" target="_blank" title="새창열림">서비스산업위원회</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
